.navbar{
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: rgb(66, 56, 56);
}

.navbar .logo{
    color:  #383673;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.navbar .logo p {
    margin: 0;
}

.navbar .logo p.pila {
    color: #7672F2;
    font-size: 15px;
    margin-left: 4px;
    margin-top: 20px;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin:  0 25px;
}

.navbar .nav-links ul li a{
    color: #7672F2;
    font-weight: 600;
}

.navbar .velocity {
    display: flex;
    justify-content: start;
    margin-right: 0px;

}

.language-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 9999;
}

.language-dropdown ul {
    flex-direction: column;
}

.language-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.language-list li {
    padding: 10px;
    text-align: center;
}

.language-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown:hover .language-dropdown {
    display: block;
}

#history_list {
    align-items: center;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    width: 100px;
    list-style: none;
    text-align: center; 
    border-radius: 0 0 10px 10px;
    z-index: 9999;
  }

  #history_list li {
    margin: 5px 0;
    align-items: center;
    display: flex;
  }

  #history:hover #history_list {
    display: block;
  }