<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/menu.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/body.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/logo.ico') }}"
    />
    <title>Turing Machine</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a href="#" class="logo">
          <p id="automaton">Turing</p>
          <p id="pushdown" class="pila">machine</p></a
        >
        <div class="nav-links">
          <div class="links">
            <ul>
              <li id="history">
                <a href="#">History</a>
                <ul id="history_list"></ul>
              </li>
              <li id="languages" class="dropdown">
                <a href="#">Languages</a>
                <div id="language-dropdown" class="language-dropdown">
                  <ul class="language-list">
                    <li><a href="#" data-lang="en">English</a></li>
                    <li><a href="#" data-lang="es">Spanish</a></li>
                    <li><a href="#" data-lang="jp">Japanese</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container2">
      <div class="gojs"></div>
      <div class="input_data">
        <div class="num">
          <p>entrada de numero de simbolos</p>
        </div>
        <div class="in">
          <p>entrada de la palabra</p>
          <p>y despues el boton de accion</p>
        </div>
      </div>
    </div>
  </body>
</html>
