<!DOCTYPE html>
<html>
<head>

  <script src="{{ url_for('static', filename='scripts/go.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/graf.js') }}"></script>
    <!-- <script src="scripts/codigopila.js"></script> -->


</head>
<body>
    <div id="sample">
        <div id="myDiagramDiv" style="border: solid 1px black; width: 100%; height: 460px; background: whitesmoke"></div>
          <textarea id="mySavedModel" hidden>
            { "class": "go.GraphLinksModel",
            "nodeKeyProperty": "id",
            "nodeDataArray": [
            {"id":0, "loc":"-180 90", "category":"op"},
            {"id":1, "loc":"-50 50", "text":"p"},
            {"id":2, "loc":"100 50", "text":"q"},
            {"id":3, "loc":"250 50", "text":"r", "category":"accept"},
            {"id":4, "loc":"500 100", "text":"q4", "category":"stack", "stack": ["#"]}
            
            ],
            "linkDataArray": [
            { "from": 0, "to": 1, "text": "" },
              { "from": 1, "to": 1, "pila": ["b,b/bb", "a,b/ba", "b,a/ab", "a,a/aa", "b,#/#b", "a,#/#a"] },
              { "from": 1, "to": 2,  "pila": ["b,b/λ", "a,a/λ"], "category":"link2" },
              { "from": 2, "to": 2,  "pila": ["b,b/λ", "a,a/λ"], "category":"link3"  },
              { "from": 2, "to": 3,  "pila": ["λ,#/#"], "category":"link2" }
            ]
          }
        </textarea>
        </div>
        <div id="myDiagramDiv" style="width: 600px; height: 400px;"></div>

</body>
</html>
